@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Lora:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Lora", "Georgia", ui-serif, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", "Courier New", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
  transition: .3s;
}

::-webkit-scrollbar-thumb {

  background: #6b6770;

  border-radius: 999px;

  transition:
    background .3s,
    width .3s,
    box-shadow .3s;
}

::-webkit-scrollbar:horizontal{

 height:4px;

}

::-webkit-scrollbar-thumb:hover {

  background: #553a94;

  box-shadow:
    0 0 10px #553a94;

}